{% extends 'base.html' %}

{% block content %}
  <main id="content" class="grid-80">
  <h1>Password dimenticata</h1>
  <div class="info-block">
  <div class="separator"><h2>
   Link inviato correttamente
  </h2></div>	
  <main>
  <p>
    Ti abbiamo mandato via email le istruzioni per resettare la password, 
    se l'indirizzo che hai inserito appartiene a un account.
    Le riceverai a breve.
  </p>
  <p>
    Se non ricevi nessun'email, controlla di aver inserito l'indirizzo con cui
    ti sei registrato, e controlla la cartella di spam.
  </p>
  </div>
  </main>
{% endblock %}
