/* Always show the vertical scrollbar */
html {
    overflow-y:scroll;
}

body, #panel {
	background-color: #e9eaed;
	/*background-image: -webkit-radial-gradient(ellipse at center, #fafafa 0%,#e9eaed 50%,#e9eaed 100%);
	background-image: -moz-radial-gradient(ellipse at center, #fafafa 0%,#e9eaed 50%,#e9eaed 100%);
	background-image: -o-radial-gradient(ellipse at center, #fafafa 0%,#e9eaed 50%,#e9eaed 100%);
	background-image: radial-gradient(ellipse at center, #fafafa 0%,#e9eaed 50%,#e9eaed 100%);
	background-repeat: no-repeat;*/
	color: #181818;
}

label {
	margin-right: 5px;
}

.name-container {
	width: 150px;
}

.vote-container {
	width: 20px;
}

.game-container {
	width: 250px;
}

.turn-container {
	width: 150px;
}

.info-block {
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 2px 0px;
	padding: 10px 13px 7px 13px;
	margin-bottom: 25px;
	border-radius: 2px;
}

.info-block table {
	width: 90%;
	margin-bottom: 10px;
}

.info-block thead {
	border-bottom: 1px;
	border-style: solid;
	background-color: #f7f7f7;
}

.info-block td {
	border-left: 1px;
	border-style: solid;
	padding: 2px 6px 2px 6px;
}

.info-block td:first-child {
	border-style: none;
}

.info-block thead td {
	padding-top: 0px;
}

.info-block table.normal {
    width: auto;
}

.info-block table.normal td {
    padding: 1px 6px 1px 6px;
}

.info-block ul {
	list-style-type: none;
	padding: 0px;
	padding-left:0;
	margin: 0 7px 5px 0;
}

.info-block ul li {
	padding-left: 20px;
	margin: 0px;
}

.info-block a {
	color: inherit;
}

.separator {
	height: 1px;
	background-color: #ddd;
	width: 100%;
	margin: 5px 0px 12px 0;
}

.separator h2 {
	display: inline-block;
	margin-left: 10px;
	padding: 0 7px 0 7px;
	background-color: #fff;
	position: relative; top: -9px;
}

.players-status {
	text-align: right;
	background-color: #ffffff;
}

.players-status h2 {
	display: block;
	padding: 0 7px 0 7px;
	font-size: 14px;
	font-weight: bold;
	text-transform:uppercase;
	color: #f9f9f9;
	background-color: #333;
	margin-bottom: 4px;
}

.players-status ul {
	text-align: right;
	list-style-type: none;
	padding: 0px;
	padding-left:0;
	margin: 0 7px 5px 0;
}

.players-status ul li {
	padding-left: 0px;
	margin: 0px;
}


#header {
    margin-bottom: 10px;
    z-index: 1;
}

#header-background-upper, #header-background-lower {
	width: 100%;
	z-index: -1;
}

#header-background-upper {
	background-color: #181818;
	height: 90px;
}

#header-background-lower {
	background-color: #E4E5E8;
	height: 1.5em;
	border-bottom: 1px solid #dadbde;
}

#header-upper, #header-lower {
    position: relative;
    height: 100%;
}

#header-upper {
    display: flex;
    flex-flow: row nowrap;
}

#header-upper ul{
	position: absolute;
	right: 0;
	bottom: 0;

	list-style-type: none;
	padding: 0px;
	padding-left:0;
	margin: 0px;
	font-weight: bold;
	font-size: 14px;
	color: #fff;

}

#header-upper ul li {
	display: inline-block;
	text-transform:uppercase;
	padding: 1px 5px 0px 5px;
}

#header-upper .announcements {
	background: #E4E5E8;
	color: #181818;
}

#header-upper a:link, #header-upper a:visited, #header-upper a:hover, #header-upper a:active {
	color: inherit;
	text-decoration: inherit;
}


#header-lower {
	background: #E4E5E8;
	text-align: right;
	/*padding-left: 113px;*/
	border-bottom: 1px solid #dadbde;
	height: 1.5em;
}

#login {
	position: absolute;
	top: 3px;
	right: 0;

	font-weight: bold;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	text-align: right;
}

.username {
	font-size: 13px;
	text-transform: none;
	font-weight: normal;
}

.point-of-view {
	font-size: 13px;
	text-transform: none;
	font-weight: bold;
	color: #e90000;
}

.nav-menu {
	color: #333;
}

.nav-menu h1 {
	display: block;
	padding: 0 7px 0 7px;
	font-size: 14px;
	font-weight: bold;
	text-transform:uppercase;
	color: #fff;
	background-color: #333;
	margin-bottom: 4px;
}

.nav-menu ul {
	list-style-type: none;
	margin-bottom: 7px;
	font-weight: bold;
	font-size: 13px;
}

.nav-menu ul li {
	padding-left: 7px;
	margin: 0 0 1px 0;
}

.nav-menu ul li:hover {
	background-color: #e9e9e9;
}

.nav-menu a:link, .nav-menu a:visited, .nav-menu a:hover, .nav-menu a:active {
	display: inline-block;
	width: 100%;
	height: 100%;
	color: inherit;
	text-decoration: inherit;
}

.nav-menu.game-master ul li a::before {
    content: '# ';
}

.nav-menu.game-master h1::before {
    content: '# ';

}

.security-banner {
	/*background-color: #ffffff;*/
	margin-bottom: 10px;
	padding: 5px 10px 5px 10px;
	font-weight: bold;
	font-size: 13px;
	color: #333;
}

.vertical-space {
	margin-bottom: 15px;
}

#visibility-indicator {
	/*display:inline-block;*/
	width: 140px;
	height: auto;
	margin-right: 30px;
}

#logo {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	height: 104px;
}

#panel {
    padding: 0;
}
