/*

Styles for responsiveness.

*/

.container, #header-upper, #header-lower, .security-banner {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	padding-left: 10px;
	padding-right: 10px;
}

.security-banner > * {
	display: inline-block;
}


@media (max-width: 1024px) {
	.hidden-mobile {
		display: none;
	}

	/*---------------------

	Header related styles

	----------------------*/
	#logo {
		position: initial;
		left: initial;
		top: initial;
		width: auto;
		height: auto;
		max-width: 100%;
	}

	#header-upper > a {
		flex: 0 1 auto;
	}

	#login {
		position: initial;
		top: initial;
		right: initial;
		padding: 0.5ex 0 0.5ex 1ex;
		flex: 1 1 auto;
	}

	#header-background-upper {
		height:
	}


	/*---------------------

	slideout.css

	----------------------*/
	body {
	  width: 100%;
	  height: 100%;
	}

	.slideout-menu {
	  position: fixed;
	  left: 0;
	  top: 0;
	  bottom: 0;
	  right: 0;
	  z-index: 0;
	  width: 256px;
	  overflow-y: scroll;
	  -webkit-overflow-scrolling: touch;
	  display: none;
	}

	.slideout-panel {
	  position: relative;
	  z-index: 1;
	  will-change: transform;
	}

	.slideout-open,
	.slideout-open body,
	.slideout-open .slideout-panel {
	  overflow: hidden;
	}

	.slideout-open .slideout-menu {
	  display: block;
	}
}


@@media (min-width: 1025px) {
	.hidden-desktop {
		display: none;
	}
}
