{% extends "base.html" %}

{% block content %}

{% if current_turn.phase == DAY or current_turn.phase == NIGHT or is_master %}
    <div class="grid-container">
        <main id="content" class="grid-75">

            {% block personal_info %}{% endblock %}

            {% include "status.html" with display_mayor=display_mayor %}

            {% block events_title %}{% endblock %}
    	    {% include "events.html" %}

        </main>
        <aside class="grid-25">

            {% include "players.html" %}

        </aside>
    </div>
{% else %}
    <main id="content">
        {% include "status.html" with display_mayor=False %}
    </main>
{% endif %}

{% endblock %}
