{% extends "base.html" %}

{% block content %}

{% if current_turn.phase == DAY or current_turn.phase == NIGHT or is_master %}
    <main id="content" class="grid_10">
        
        {% block personal_info %}{% endblock %}
        
        {% include "status.html" with display_mayor=True %}
        
        {% block events_title %}{% endblock %}
	    {% include "events.html" %}
	
    </main>
    <aside class="grid_3">
        
        {% include "players.html" %}
        
    </aside>
{% else %}
    <main id="content" class="grid_13">
        {% include "status.html" with display_mayor=False %}
    </main>
{% endif %}

{% endblock %}

