{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<link rel="icon" type="image/png" href="{% static "favicon.png" %}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if game %}
        <title>{{ game.title }}</title>
    {% else %}
        <title>Realtime Lupus</title>
    {% endif %}
    <link rel="stylesheet" href="{% static "reset.css" %}" />
    <link rel="stylesheet" href="{% static "text.css" %}" />
    <link rel="stylesheet" href="{% static "lupus.css" %}" />
    <link rel="stylesheet" href="{% static "responsive.css" %}" />
    <!-- <link rel="stylesheet" href="{% static "960.css" %}" /> -->
    <link rel="stylesheet" href="{% static "fish.css" %}" />
    <link rel="stylesheet" href="{% static "unsemantic-grid-responsive-tablet.css" %}" />
    <link rel="stylesheet" href="{% static "slideout.css" %}" />

    <!--<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic' rel='stylesheet' type='text/css'>-->

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="{% static "script.js" %}"></script>
    <script src="{% static "jquery-1.11.0.min.js" %}"></script>
    <script src="{% static "fish.js" %}"></script>
    <script src="{% static "slideout.min.js" %}"></script>
    {{ form.media }}
</head>

<body>

    <!-- <div id="header-background">
            <div id="header-background-upper"></div>
            <div id="header-background-lower"></div>
    </div> -->

    <header id="header">
        <div id="header-background-upper">
            <div id="header-upper">
                <img id="menu-button" class="hide-on-desktop hide-on-tablet" src="{% static "menu-icon.svg" %}">
                <a href="/">
                    <img id="logo" src="{% static "logo.svg" %}" onerror="this.src='{% static "logo.png" %}'; this.onerror=null;">
                </a>
                <span id="login">
                    <div>
                    {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}">
                            <span class="hide-on-mobile">Logout</span>
                            <img class="hide-on-desktop hide-on-tablet" src="{% static "logout.svg" %}" onerror="this.src='{% static "logout.png" %}'; this.onerror=null;">
                        </a>
                    {% else %}
                        <a href="{% url 'login' %}">
                            <span class="hide-on-mobile">Login</span>
                            <img class="hide-on-desktop hide-on-tablet" src="{% static "login.svg" %}" onerror="this.src='{% static "login.png" %}'; this.onerror=null;">
                        </a>
                    {% endif %}
                    </div>
                    {% if user.is_authenticated %}
                        <div class="username hide-on-mobile">
                            Sei loggato come {{ user.username }} ({{ user.first_name }} {{ user.last_name }})
                        </div>
                    {% endif %}
                    {% if is_master %}
                        <div class="point-of-view hide-on-mobile">
                            {% if player %}
                                Punto di vista di {{ player.full_name }}
                            {% else %}
                                Game Master
                            {% endif %}
                        </div>
                    {% endif %}
                </span>
                <ul id="header-menu" class="hide-on-mobile">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    {% if game %}
                        <li><a href="{% url 'game:status' game_name=game.name  %}">Stato del villaggio</a></li>
                        <li class="announcements"><a href="{% url 'game:announcements' game_name=game.name %}">Annunci dei GM</a></li>
                    {% elif user.is_authenticated %}
                        <li><a href="{% url 'creategame' %}">Crea nuovo villaggio</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div id="header-background-lower">
            <div id="header-lower">
                {% if user.is_authenticated %}
                    {% if is_master %}
                        <span class="point-of-view hide-on-desktop">{{ player.full_name | default:"Game Master" }}</span>
                    {% else %}
                        <span class="hide-on-desktop">
                            {{ user.first_name }} {{ user.last_name }}
                        </span>
                    {% endif %}
                {% endif %}
                {% if latest_announcement %}
                    <span class="hide-on-mobile"><strong>{{ latest_announcement.timestamp|date:"d/m/Y H:i" }}</strong> {{ latest_announcement.text|truncatechars:125 }}</span>
                {% endif %}
            </div>
        </div>
    </header>

    <!-- <div class="clear"></div> -->

    {% if classified %}
        <div class="hide-on-mobile">
            <div class="security-banner">
                <img id="visibility-indicator" src="{% static "classified.png" %}" />
                <div>Questa pagina contiene informazioni riservate. Accertati di essere da sol{{ user.profile.oa }}.</div>
            </div>
        </div>
    {% endif %}

    <!-- <div class="clear vertical-space"></div> -->

    <div class="grid-container">

        <aside id="menu" class="tablet-grid-20 grid-20">
            {% if is_master %}

                <div class="nav-menu game-master">
                    <h1>Azioni da GM</h1>
                    <ul>
                        {% if user.is_staff and not game.started %}
                             <li><a href="{% url 'game:newplayer' game_name=game.name %}" data-toggle="tooltip" title="Crea un nuovo account e lo iscrive alla partita.!">Nuovo giocatore</a></li>
                        {% endif %}
                        <li><a href="{% url 'game:adminstatus' game_name=game.name %}" data-toggle="tooltip" title="Consulta il registro di tutte le informazioni.">Tutte le informazioni</a></li>
                        {% if current_turn.phase == CREATION %}
                            <li><a href="{% url 'game:setup' game_name=game.name %}" data-toggle="tooltip" title="Inserisci le informazioni necessarie a iniziare la partita.">Setup iniziale</a></li>
                        {% endif %}
                        <li><a href="{% url 'game:managemasters' game_name=game.name %}" data-toggle="tooltip" title="Aggiungi o rimuovi un Game Master.">Gestione Master</a></li>
                        <li><a href="{% url 'game:pointofview' game_name=game.name %}" data-toggle="tooltip" title="Assumi l'identità di un giocatore, per consultare il suo diario o agire al suo posto.">Punto di vista</a></li>
                        <li><a href="{% url 'game:publishannouncement' game_name=game.name %}" data-toggle="tooltip" title="Pubblica un nuovo annuncio dei GM.">Pubblica annuncio</a></li>
                        {% if current_turn.phase != CREATION %}
                            <li><a href="{% url 'game:forcevictory' game_name=game.name %}" data-toggle="tooltip" title="Forza la fine della partita con la vittoria di una fazione specifica.">Decreta vincitori</a></li>
                        {% endif %}
                        <li><a href="{% url 'game:as_normal_user' game_name=game.name %}" data-toggle="tooltip" title="Torna alla triste interfaccia da persona qualunque.">Esci dal menù GM</a></li>
                    </ul>
                </div>

                {% if player %}
                <div class="nav-menu game-master">
                    <h1>Casa di {{ player.user.first_name }}</h1>
                    <ul>

                    <li><a href="{% url 'game:personalinfo' game_name=game.name %}" data-toggle="tooltip" title="Consulta le informazioni ottenute da {{ player.full_name }} nel corso della partita.">Diario personale</a></li>
                    {% if current_turn.phase == DAY %}
                        <li><a href="{% url 'game:vote' game_name=game.name %}" data-toggle="tooltip" title="Scegli una persona che {{ player.full_name }} voterà per il rogo.">Votazione per il rogo</a></li>
                        {% if display_mayor %}
                            <li><a href="{% url 'game:elect' game_name=game.name %}" data-toggle="tooltip" title="Scegli una persona che {{ player.full_name }} eleggerà come sindaco.">Elezione del Sindaco</a></li>
                        {% endif %}
                    {% endif %}
                    {% if current_turn.phase == NIGHT %}
                        <li><a href="{% url 'game:usepower' game_name=game.name %}" data-toggle="tooltip" title="Usa il potere speciale di {{ player.full_name }}.">{{ player.alive | yesno:"Abilità notturna,Potere notturno"}}</a></li>
                    {% endif %}
                    {% if player is not None and display_mayor and player.is_mayor %}
                        <li><a href="{% url 'game:appoint' game_name=game.name %}" data-toggle="tooltip" title="Scegli la persona che {{ player.full_name }} eleggerà come successore.">Designa successore</a></li>
                    {% endif %}
                </ul>
                </div>
               {% endif %}


                <div class="nav-menu game-master">
                    <h1>Svolgimento</h1>
                    <ul>
                        <li><a href="{% url 'game:settings' game_name=game.name %}" data-toggle="tooltip" title="Imposta la durata dei turni e non solo.">Impostazioni</a></li>
                        {% if current_turn.phase != CREATION %}
                            <li><a href="{% url 'game:advanceturn' game_name=game.name %}" data-toggle="tooltip" title="Forza l'avanzamento al prossimo turno.">Turno successivo</a></li>
                            <li><a href="{% url 'game:rollbackturn' game_name=game.name %}" data-toggle="tooltip" title="Cancella il turno corrente e torna al precedente.">Turno precedente</a></li>
                        {% endif %}
                        <li><a href="{% url 'game:restart' game_name=game.name %}" data-toggle="tooltip" title="Cancella tutti i turni e torna alla Creazione.">Ricomincia</a></li>
                        {% if user.is_staff %}
                            <li><a href="{% url 'game:dump' game_name=game.name %}" data-toggle="tooltip" title="Salva la parita in JSON.">Salva partita</a></li>
                            <li><a href="{% url 'game:load' game_name=game.name %}" data-toggle="tooltip" title="Carica la partita da JSON.">Carica partita</a></li>
                        {% endif %}
                    </ul>
                </div>

            {% else %}

            {% if game is not None %}
                {% if not game.started and master is None %}
                <div class="nav-menu">
                    <h1>Iscrizioni</h1>
                    <ul>
                    {% if player is None %}
                        <li><a href="{% url 'game:join' game_name=game.name %}" data-toggle="tooltip" title="Iscriviti a questa partita di Lupus Realtime.">Unisciti al villaggio</a></li>
                    {% else %}
                        <li><a href="{% url 'game:leave' game_name=game.name %}" data-toggle="tooltip" title="Abbandona la partita prima dell'inizio.">Abbandona il villaggio</a></li>
                    {% endif %}
                    </ul>
                </div>
                {% endif %}

                <div class="nav-menu hide-on-desktop hide-on-tablet">
                    <h1>Bacheca</h1>
                    <ul>
                        <li><a href="{% url 'game:status' game_name=game.name  %}">Stato del villaggio</a></li>
                        <li><a href="{% url 'game:announcements' game_name=game.name %}">Annunci dei GM</a></li>
                    </ul>
                </div>

                {% if player or master %}
                <div class="nav-menu">
                <h1>Area privata</h1>
                    <ul>
                    {% if player and current_turn.phase != CREATION %}
                        <li><a href="{% url 'game:personalinfo' game_name=game.name %}" data-toggle="tooltip" title="Consulta il registro delle informazioni che hai ottenuto nel corso della partita.">Diario personale</a></li>
                        {% if current_turn.phase == DAY %}
                            <li><a href="{% url 'game:vote' game_name=game.name %}" data-toggle="tooltip" title="Scegli una persona da votare per il rogo odierno.">Votazione per il rogo</a></li>
                            {% if display_mayor %}
                                <li><a href="{% url 'game:elect' game_name=game.name %}" data-toggle="tooltip" title="Scegli una persona da votare come Sindaco del villaggio.">Elezione del Sindaco</a></li>
                            {% endif %}
                        {% endif %}
                        {% if current_turn.phase == NIGHT %}
                            <li><a href="{% url 'game:usepower' game_name=game.name %}" data-toggle="tooltip" title="Usa {{ player.alive | yesno:"la tua abilità,il tuo potere"}} speciale.">{{ player.alive | yesno:"Abilità notturna,Potere notturno"}}</a></li>
                        {% endif %}
                        {% if player.is_mayor %}
                            <li><a href="{% url 'game:appoint' game_name=game.name %}" data-toggle="tooltip" title="Scegli che diventerà Sindaco in caso di una tua prematura dipartita.">Designa successore</a></li>
                        {% endif %}
                    {% endif %}
                    {% if master is not None %}
                        <li><a href="{% url 'game:as_gm' game_name=game.name %}" data-toggle="tooltip" title="Sfrutta i tuoi poteri da Game Master.">Interfaccia da GM</a></li>
                    {% endif %}
                    <li><a href="{% url 'game:comment' game_name=game.name %}" data-toggle="tooltip" title="Annota un commento nel tuo diario.">Scrivi un commento</a></li>
                </ul>
                </div>
                {% endif %}
            {% endif %}

            {% if game.postgame_info and game.is_over %}
                <div class="nav-menu">
                    <h1>Dopo partita</h1>
                    <ul>
                        <li><a href="{% url 'game:adminstatus' game_name=game.name %}" data-toggle="tooltip" title="Consulta il registro di tutte le azioni della partita.">Tutte le informazioni</a></li>
                    </ul>
                </div>
            {% endif %}

            <div class="nav-menu">
                <h1>Su RealTime Lupus</h1>
                <ul>
                    <li><a href="/forum/">Forum</a></li>
                    <li><a href="{% url 'ruleset' %}">Regolamento</a></li>
                    <li><a href="{% url 'prototypes' %}">Prototipi</a></li>
                    <li><a href="{% url 'credits' %}">Riconoscimenti</a></li>
                    <li><a href="{% url 'trailer' %}">Trailer</a></li>
                </ul>
            </div>

            {% if user.is_authenticated %}
                <div class="nav-menu">
                    <h1>Account</h1>
                    <ul>
                        <li><a href="{% url 'password_change' %}">Cambia password</a></li>
                        <li class="hide-on-desktop hide-on-tablet"><a href="{% url 'creategame' %}">Crea nuovo villaggio</a></li>
                    </ul>
                </div>
            {% endif %}

        {% endif %}
        </aside>

        <div id="panel" class="tablet-grid-80 grid-80">
            {% if classified %}
                <div class="hide-on-desktop hide-on-tablet">
                    <div class="security-banner">
                        <img id="visibility-indicator" src="{% static "classified.png" %}" />
                    </div>
                </div>
            {% endif %}

            {% block content %}{% endblock %}
        </div>

        <div class="clear"></div>
    </div>

    </div>

    <script>
      fish_images = [
          "{% static 'fishes/fish1.svg' %}",
          "{% static 'fishes/fish2.svg' %}",
          "{% static 'fishes/fish3.svg' %}",
          "{% static 'fishes/fish4.svg' %}",
      ];
      //create_fishes_by_density(0.00003);
    </script>
    <script>
        var slidebarWidth = 220

        var slideout = new Slideout({
            'panel': $('#panel')[0],
            'menu': $('#menu')[0],
            'padding': slidebarWidth,
            'tolerance': 70,
            'grabWidth': 80
        });
        $('#menu-button').click(function() {
            slideout.toggle();
        });

        var fixed = document.querySelector('header#header');

        slideout.on('translate', function(translated) {
            fixed.style.transform = 'translateX(' + translated + 'px)';
        });

        slideout.on('beforeopen', function () {
            fixed.style.transition = 'transform 300ms ease';
            fixed.style.transform = 'translateX(' + slidebarWidth + 'px)';
        });

        slideout.on('beforeclose', function () {
            fixed.style.transition = 'transform 300ms ease';
            fixed.style.transform = 'translateX(0px)';
        });

        slideout.on('open', function () {
            fixed.style.transition = '';
        });

        slideout.on('close', function () {
            fixed.style.transition = '';
        });
    </script>
</body>
</html>
