<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}Realtime Lupus 4{% endblock %}</title>
</head>

<body>
    
    {% if user.is_authenticated %}
    <div id="user_block">
        Sei loggato come {{ user.username }}
        {% if player != None %}
            ({{ player.user.first_name }} {{ player.user.last_name }})
        {% endif %}
    </div>
    {% endif %}
    
    {% if game %}
    <div id="game_block">
        Turno: {{ current_turn.turn_as_italian_string_property }}
    </div>
    {% endif %}
    
    <div id="sidebar">
        {% block sidebar %}
        
        <ul>
            <li><a href="/">Home</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a> ({{ user.username }})</li>
            {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
            
            <li><a href="{% url 'status' %}">Stato del villaggio</a></li>
            <li><a href="{% url 'ruleset' %}">Regolamento</a></li>
        </ul>
        
        Area riservata
        
        <ul>
            <li><a href="{% url 'personalinfo' %}">Informazioni personali</a></li>
            <li><a href="{% url 'vote' %}">Votazione per il rogo</a></li>
            <li><a href="{% url 'elect' %}">Elezione del Sindaco</a></li>
            <li><a href="{% url 'usepower' %}">Potere notturno</a></li>
            {% if player.is_mayor %}
                <li><a href="{% url 'appoint' %}">Designa successore</a></li>
            {% endif %}
            <li><a href="{% url 'contacts' %}">Contatti</a></li>
        </ul>
        
        {% if user.is_staff %}
        
        Amministrazione
        
        <ul>
            
            <li><a href="{% url 'setup' %}">Setup</a></li>
            <li><a href="{% url 'advanceturn' %}">Turno successivo</a></li>
            <li><a href="{% url 'createletters' %}">Crea lettere iniziali</a></li>
            <li><a href="{% url 'pointofview' %}">Punto di vista</a></li>
        </ul>
        
        {% endif %}
        
        {% endblock %}
    </div>
    
    <div id="announcements">
        <h3>Annunci dei GM</h3>
        {% for announcement in announcements %}
            <p>[{{ announcement.timestamp|date:"j N Y, H:i" }}] {{ announcement.text }}</p>
        {% empty %}
            <p>Non ci sono annunci.</p>
        {% endfor %} 
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
