{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<link rel="icon" type="image/png" href="{% static "favicon.png" %}">

<head>
    <meta charset="utf-8">
    <title>Realtime Lupus 5</title>
    <link rel="stylesheet" href="{% static "reset.css" %}" />
    <link rel="stylesheet" href="{% static "text.css" %}" />
    <link rel="stylesheet" href="{% static "960.css" %}" />
    <link rel="stylesheet" href="{% static "lupus.css" %}" />
    <link rel="stylesheet" href="{% static "fish.css" %}" />
    
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <script src="{% static "script.js" %}"></script>
    <script src="{% static "jquery-1.11.0.min.js" %}"></script>
    <script src="{% static "fish.js" %}"></script>
</head>

<body>
    
    <div id="header-background">
	    <div id="header-background-upper"></div>
	    <div id="header-background-lower"></div>
    </div>
    
    <div class="container_16">	
	    <header id="header" class="grid_16">
		    <img id="logo" src="{% static "logo.png" %}"/>
		    <div id="header-upper">
			    <span id="login">
			        <div>
			        {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}">Logout</a>
                    {% else %}
                        <a href="{% url 'login' %}">Login</a>
                    {% endif %}
                    </div>
                    {% if user.is_authenticated %}
                        <div class="username">
                            Sei loggato come {{ user.username }} ({{ user.first_name }} {{ user.last_name }})
                        </div>
                    {% endif %}
                    {% if user.is_staff and player %}
                        <div class="point-of-view">
                            Punto di vista di {{ player.full_name }}
                        </div>
                    {% endif %}
			    </span>
			    <ul>
			        <li><a href="{% url 'home' %}">Home</a></li>
				    <li><a href="{% url 'status' %}">Stato del villaggio</a></li>
				    <li><a href="{% url 'announcements' %}">Annunci dei GM</a></li>
			    </ul>
		    </div>
		    <div id="header-lower">
		        {% if latest_announcement %}
		            <strong>{{ latest_announcement.timestamp|date:"d/m/Y H:i" }}</strong> {{ latest_announcement.text|truncatechars:125 }}
		        {% endif %}
		    </div>
	    </header>
        
	    <div class="clear"></div>
        
        {% if classified %}
            <div class="grid_16">
			    <div class="security-banner">
				    <img id="visibility-indicator" src="{% static "classified.png" %}" />
				    Questa pagina contiene informazioni riservate. Accertati di essere da sol{{ user.profile.oa }}.
			    </div>
            </div>
        {% endif %}
        
        <div class="clear vertical-space"></div>
        
        <aside class="grid_3">
	        <div class="nav-menu">
	            <h1>Area riservata</h1>
	            <ul>
                    <li><a href="{% url 'personalinfo' %}">Informazioni personali</a></li>
                    <li><a href="{% url 'vote' %}">Votazione per il rogo</a></li>
                    <li><a href="{% url 'elect' %}">Elezione del Sindaco</a></li>
                    <li><a href="{% url 'usepower' %}">Potere notturno</a></li>
                    {% if player.is_mayor %}
                        <li><a href="{% url 'appoint' %}">Designa successore</a></li>
                    {% endif %}
                    <li><a href="{% url 'comment' %}">Commenti alla partita</a></li>
                </ul>
	        </div>
	        
	        <div class="nav-menu">
	            <h1>Altro</h1>
	            <ul>
	                <li><a href="{% url 'ruleset' %}">Regolamento</a></li>
	                <li><a href="{% url 'prototypes' %}">Prototipi</a></li>
                    <li><a href="{% url 'contacts' %}">Contatti</a></li>
                    <li><a href="{% url 'credits' %}">Riconoscimenti</a></li>
                    <li><a href="{% url 'trailer' %}">Trailer</a></li>
                </ul>
	        </div>
	        
	        {% comment %}
	        <div class="nav-menu">
	            <h1>Dopo-partita</h1>
	            <ul>
	                <li><a href="{% url 'adminstatus' %}">Tutte le informazioni</a></li>
	            </ul>
	        </div>
	        {% endcomment %}
	        
	        {% if user.is_staff %}
		<div class="nav-menu">
			<h1>GM</h1>
		    <ul>
			<li><a href="{% url 'adminstatus' %}">Tutte le informazioni</a></li>
			<li><a href="{% url 'advanceturn' %}" onclick="return confirm('Vuoi davvero avanzare al turno successivo?');">Turno successivo</a></li>
			<li><a href="{% url 'pointofview' %}">Punto di vista</a></li>
			<li><a href="{% url 'admin:index' %}">Admin: Index</a></li>
			<li><a href="{% url 'admin:game_player_changelist' %}">Admin: Players</a></li>
			<li><a href="{% url 'admin:game_commandevent_changelist' %}">Admin: CommandEvents</a></li>
			<li><a href="{% url 'admin:game_comment_changelist' %}">Admin: Comments</a></li>
			<li><a href="{% url 'admin:game_pagerequest_changelist' %}">Admin: PageRequests</a></li>
		    </ul>
		</div>
		{% endif %}
	        
	    </aside>
	    
	    {% block content %}{% endblock %}

	    <div class="clear"></div>
    </div>
    
    
    
    <script>
      fish_images = [
          "{% static 'fishes/fish1.svg' %}",
          "{% static 'fishes/fish2.svg' %}",
          "{% static 'fishes/fish3.svg' %}",
          "{% static 'fishes/fish4.svg' %}",
      ];
      //create_fishes_by_density(0.00003);
    </script>
</body>
</html>
