{% extends "base.html" %}

{% block content %}

<main id="content">
    <h1>Riconoscimenti</h1>

    <div class="info-block">

        <table class="normal">
        <tr><td>Game Master</td><td>Giovanni Mascellani, Alessandro Iraci, Giovanni Paolini</td></tr>
        <tr><td>Organizzazione</td><td>Giovanni Paolini, Giovanni Mascellani, Alessandro Iraci, Leonardo Tolomeo</td></tr>
        <tr><td>Server web</td><td>Giovanni Mascellani, Giovanni Paolini</td></tr>
        <tr><td>Grafica</td><td>Alessandro Achille</td></tr>

        <tr><td>Regolamento</td><td>Luca Ghidelli, Alessandro Iraci, Giovanni Mascellani, Giovanni Paolini, Leonardo Tolomeo</td></tr>
        <tr><td>Ambientazione</td><td>Alessandro Iraci, Marta Mussi, Giovanni Paolini, Leonardo Tolomeo</td></tr>

        <tr><td>Contributi da edizioni precedenti</td><td>Andrea Caleo, Francesco Guatieri, Chiara Strazzulla</td></tr>
        </table>

    </div>
</main>

{% endblock %}
