{% extends "base.html" %}

{% block content %}
    <h1>Riconoscimenti</h1>
    
    Organizzazione: Giovanni Paolini, Giovanni Mascellani, Alessandro Iraci, Leonardo Tolomeo<br />
    
    Server web: Giovanni Mascellani, Giovanni Paolini<br />
    Grafica: Alessandro Achille <br />
    
    Regolamento: Luca Ghidelli, Alessandro Iraci, Giovanni Paolini, Leonardo Tolomeo<br />
    Ambientazione: Alessandro Iraci, Marta Mussi, Giovanni Paolini, Leonardo Tolomeo<br />
    
    Contributi dalle precedenti edizioni: Andrea Caleo, Francesco Guatieri, Chiara Strazzulla<br />
    
{% endblock %}

