{% load game_extras %}

{% for turn, values in events reversed %}
    <div class="info-block">
        
        <div class="separator"><div class="separator"><h2>{{ turn.turn_as_italian_string_property }}
			{% if not turn.id %}
				(ANTEPRIMA)
			{% endif %}
        </h2></div></div>
        
        {% for message in values.standard %}
            <p>{{ message|safe }}</p>
        {% endfor %}

        {% if values.telepathy %}
            {% for target, messages in values.telepathy.items %}
                <p>Leggendo nella sua mente, percepisci che {{ target.full_name }} ha ottenuto le seguenti informazioni:
                <ul>
                    {% for message in messages %}
                        <li>{{ message|safe }}</li>
                    {% endfor %}
                </ul>
                </p>
            {% endfor %}
        {% endif %}

        {% if turn.phase == CREATION %}
            {% if values.soothsayer_propositions %}
                <p>In virtù del tuo potere ti vengono fornite le seguenti quattro proposizioni, di cui esattamente due sono vere ed esattamente due sono false.
                <ul>
                    {% for text in values.soothsayer_propositions %}
                        <li>{{ text }}</li>
                    {% endfor %}
                </ul>
                </p>
            {% endif %}
            {% if values.initial_propositions %}
                <p>Alcune recenti indagini hanno portato alla luce le seguenti preziose informazioni, che potrete usare a vostro vantaggio.
                <ul>
                    {% for text in values.initial_propositions %}
                        <li>{{ text }}</li>
                    {% endfor %}
                </ul>
                </p>
            {% endif %}
        {% endif %}

        {% if turn.phase == DAWN %}
            <p>Mentre i primi raggi di sole sfiorano i campi, ci rechiamo stancamente al lavoro.</p>
        {% endif %}
        {% if turn.phase == SUNSET %}
            <p>Il sole tramonta dietro le colline, e ciascuno si ritira silenziosamente in casa propria.</p>
        {% endif %}
        
        {% if turn.phase == SUNSET %}
            
            <h3>Votazione per il rogo</h3>
            {% include "votation_details.html" with dictionary=values|key:VOTE display_votes=display_votes only %}
            
            {% if display_mayor %}
                <h3>Elezione del sindaco</h3>
                {% include "votation_details.html" with dictionary=values|key:ELECT display_votes=display_votes only %}
            {% endif %}
        {% endif %}
        
        {% if values.comments %}
            <h3><a id="commentslink{{ turn.pk }}" href="javascript:;" onClick="toggle_comments('comments{{ turn.pk }}', 'commentslink{{ turn.pk }}');">Visualizza i commenti</a></h3>
            <div id="comments{{ turn.pk }}" style="display:none;">
            {% for comment in values.comments %}
                <p><strong>{{ comment.user.first_name }} {{ comment.user.last_name }}</strong> <em>{{ comment.timestamp|date:"d/m/Y H:i" }}</em> {{ comment.text }}</p>
            {% endfor %}
            </div>
        {% endif %}
        
    </div>
{% endfor %}
