{% if games %}
<div class="info-block">
<h2>{{ title }}</h2>
<table>
    <thead>
    <tr>
        <td class="game-container">Partita</td>
        <td class="turn-container">Turno</td>
        <td>Sindaco</td>
    </tr>
    </thead>
    <tbody>
    {% for g in games %}
        <tr>
            <td><a href="{% url 'game:status' game_name=g.name %}">
                {{ g.description }}
            </a></td>
            <td>{{ g.current_turn.turn_as_italian_string }}</td>
            <td>{{ g.mayor.full_name }}</td>
        </tr>
        </a>
    {% endfor %}
    </tbody>
</table>
</div>
{% endif %}
