{% extends "base.html" %}

{% block content %}

<main id="content" class="grid-80">

    <h1>Home</h1>
    
    <div class="info-block">
    <p>
    <i>Lupus in tempo reale</i> è una variante dei più tradizionali Lupus in Tabula e Mafia, caratterizzata da un maggiore
    coinvolgimento e da interazioni più sofisticate tra i giocatori. La principale differenza consiste nel ritmo del
    gioco: la partita si estende infatti su diversi giorni, in modo aderente all'ambientazione. Sono premiate dalla
    dinamica di gioco la logica, la capacità di bluffare (e di smascherare i bluff altrui), la capacità di saper coordinare
    un'azione di gruppo, il carisma e le velleità leaderistiche.
    </p>
    
    <p>
    <i>Lupus in tempo reale</i> è stato inventato nel 2010, ed è stato giocato una volta all'anno fino al 2012 sotto la supervisione di
Francesco Guatieri come principale Game Master.
    A partire dall'anno 2014 è passato sotto il controllo di Giovanni Mascellani e Giovanni Paolini, che lo gestiscono a tutt'oggi. Nel 2014 sono state giocate due partite, una in primavera e una in autunno. Dalla presente edizione anche Alessandro Iraci è diventato Game Master.
    </p>
    </div>
    {% include "games_list.html" with games=ongoing_games title="Partite in corso" %}
    {% include "games_list.html" with games=beginning_games title="Iscrizioni aperte" %}
    {% include "games_list.html" with games=ended_games title="Partite terminate" %}
</main>

{% endblock %}
