{% extends "base.html" %}

{% block content %}

<div id="content" class="grid_13">

    <h1>Home</h1>
    
    <div class="info-block">
    <p>
    <i>Lupus in tempo reale</i> è una variante dei più tradizionali Lupus in Tabula e Mafia, caratterizzata da un maggiore
    coinvolgimento e da interazioni più sofisticate tra i giocatori. La principale differenza consiste nel ritmo del
    gioco: la partita si estende infatti su diversi giorni, in modo aderente all'ambientazione. Sono premiate dalla
    dinamica di gioco la logica, la capacità di bluffare (e di smascherare i bluff altrui), la capacità di saper coordinare
    un'azione di gruppo, il carisma e le velleità leaderistiche.
    </p>
    
    <p>
    <i>Lupus in tempo reale</i> è stato introdotto in Normale nel 2010, ed è stato giocato una volta all'anno fino al 2012 sotto
    la supervisione di Francesco Guatieri come principale Game Master. I Game Master che gestiscono la partita
    sono Giovanni Mascellani e Giovanni Paolini.
    </p>
    </div>
    
</div>

{% endblock %}
