{% extends "base.html" %}

{% block content %}

<main id="content" class="grid_13">
    <h1>Unisciti al villaggio</h1>
    
    {% if can_join %}
    <div class="info-block">
        <p>Vuoi davvero partecipare a questa partita di Lupus?</p>
        <p>
        <form action="{% url 'game:join' game_name=game.name %}" method="post">
        {% csrf_token %}
        <p><input type="submit" value="Partecipa" /></p>
        </form>
        </p>
        
        {% if message != None %}
            <p><strong>{{ message }}</strong></p>
        {% endif %}
    </div>
    {% else %}
    <div class="info-block">
        <p><strong>Questo villaggio non accetta nuovi abitanti.</strong></p>
    </div>
    {% endif %}
</main>
{% endblock %}

