{% extends "base.html" %}

{% block content %}

<main id="content" class="grid_13">
    <h1>Abbandona il villaggio</h1>
    
    {% if can_leave %}
    <div class="info-block">
        <p>Vuoi davvero abbandonare questa partita di Lupus?</p>
        <p>
        <form action="{% url 'game:leave' game_name=game.name %}" method="post">
        {% csrf_token %}
        <p><input type="submit" value="Abbandona" /></p>
        </form>
        </p>
        
        {% if message != None %}
            <p><strong>{{ message }}</strong></p>
        {% endif %}
    </div>
    {% else %}
    <div class="info-block">
        <p><strong>Non puoi più abbandonare il villaggio.</strong></p>
    </div>
    {% endif %}
</main>
{% endblock %}

