{% extends "base.html" %}

{% block content %}

<main id="content" class="grid_13">
    <h1>Gestisci Game Master</h1>
    
    <div class="info-block">
        <div class="separator">
            <h2>Aggiungi o rimuovi un GM</h2>
        </div>
        I seguenti utenti sono master della partita in corso:

        <ul>
        {% for m in masters %}
        <li>
            <form method="post" action="{% url "game:deletemaster" game_name=game.name pk=m.pk %}">
            {% csrf_token %}
            <label>{{ m.user.username }} ({{ m.full_name }})</label><input type="submit" value="Elimina">
            </form>
        </li>
        {% endfor %}
        <li>
        <form method="post" action="">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Aggiungi">
        </form>
        </li>
        </ul>

        {% if message != None %}
            <p><strong>{{ message }}</strong></p>
        {% endif %}

        <form method="get" action="{% url "game:settings" game_name=game.name %}">
            <input type="submit" value="Indietro">
        </form>
    </div>

        
    </div>
</main>
{% endblock %}

