{% extends "base.html" %}

{% block content %}
    <h1>Informazioni personali</h1>
    
    <ul>
        <li>Fazione: {{ player.team_as_italian_string_property }}</li>
        <li>Ruolo: {{ player.role_name }}</li>
        <li>Aura: {{ player.aura_as_italian_string_property }}</li>
        <li>Stato: {{ player.status_as_italian_string_property }}</li>
        {% if player.is_mayor %}
            <li>Sei l'attuale Sindaco del villaggio.</li>
        {% endif %}
    </ul>
    
    {% include "events.html" %}
    
{% endblock %}

