{% extends "base_info.html" %}

{% block personal_info %}
    <h1>Informazioni personali</h1>
    
    <div class="info-block">
        <table>
            <tr><td>Nome</td><td>{{ player.full_name }}</td></tr>
            <tr><td>Fazione</td><td>{{ player.team_as_italian_string_property }}</td></tr>
            <tr><td>Ruolo</td><td>{{ player.role.name }}</td></tr>
            <tr><td>Aura</td><td>{{ player.aura_as_italian_string_property }}</td></tr>
            <tr><td>Stato</td><td>{{ player.status_as_italian_string_property }}</td></tr>
        </table>

        {% if player.is_mystic %}
            <p> Sei un mistico.</p>
        {% endif %}
        {% if player.is_mayor %}
            <p>Sei l'attuale Sindaco del villaggio.</p>
        {% endif %}
        
    </div>
    
{% endblock %}

{% block events_title %}
    <h1>Eventi</h1>
{% endblock %}
