{% load game_extras %}

<div id="players-list" class="players-status">
<h2>Vivi</h2>
<ul>
    {% for player in game.alive_players|order_by_name %}
        <li><div>{{ player.full_name }}</div></li>
    {% empty %}
        <p><i>Non ci sono vivi</i></p>
    {% endfor %}
</ul>



<h2>Morti</h2>
<ul>
    {% for player in game.dead_players|order_by_name %}
        <li><div>{{ player.full_name }}</div></li>
    {% empty %}
        <p><i>Non ci sono morti</i></p>
    {% endfor %}
</ul>

{% if game.inactive_players %}
<h2>Esiliati</h2>
<ul>
    {% for player in game.inactive_players|order_by_name %}
        <li><div>{{ player.full_name }}</div></li>
    {% endfor %}
</ul>
{% endif %}

</div>
