{% extends "base.html" %}

{% block content %}

<div id="content" class="grid_13">
    <h1>Punto di vista</h1>
    
    <div class="info-block">
        
        <p>
        <form action="{% url 'pointofview' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p><input type="submit" value="Cambia punto di vista" /></p>
        </form>
        </p>
        
        {% if message != None %}
            <p><strong>{{ message }}</strong></p>
        {% endif %}
        
    </div>
</div>
{% endblock %}

