{% extends "base.html" %}

{% block content %}

<main id="content" class="grid-80">
    <h1>Proposizioni Iniziali</h1>
    
    <div class="info-block">
        Fornirai al villaggio le seguenti proposizioni iniziali, di cui dovrai garantire la veridicità.

        <ul>
        {% for prop in propositions %}
        <li>
            <form method="post" action="{% url "game:deleteproposition" game_name=game.name pk=prop.pk %}">
            {% csrf_token %}
            <label>{{ prop.text }}</label><input type="submit" value="Elimina">
            </form>
        </li>
        {% endfor %}
        <li>
        <form method="post" action="">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Aggiungi">
        </form>
        </li>
        </ul>
        <form method="get" action="{% url "game:advanceturn" game_name=game.name %}">
            <input type="submit" value="Termina prologo" />
        </form>

        {% if message != None %}
            <p><strong>{{ message }}</strong></p>
        {% endif %}
        
    </div>
</main>
{% endblock %}

