{% extends "base.html" %}

{% block content %}

<main id="content">

    <h1>Prototipi</h1>

    <div class="info-block">
        <h2> Alcuni messaggi generici</h2>
        <h3>Conoscenza iniziale del tuo ruolo</h3>
        <p>Ti è stato assegnato il ruolo di X.</p>

        <h3>Conoscenza iniziale del ruolo di un altro giocatore</h3>
        <p>A X è stato assegnato il ruolo di Y. [Viene visualizzata una frase per ogni ruolo conosciuto]</p>

        <h3>Potere utilizzato con successo</h3>
        <p>Hai utilizzato con successo il tuo potere su X.</p>

        <h3>Potere utilizzato senza successo</h3>
        <p>Ti risvegli confuso/a e stordito/a: l'unica cosa di cui sei certo/a è di non essere riuscito/a ad utilizzare il tuo potere su X, questa notte.</p>
    </div>

    <div class="info-block">
        <h2>Contadino</h2>
        <h3>Lettera iniziale</h3>
        <p>Sei un contadino, ovvero un buzzurro, villano, bifolco, villico, bovaro, burino, eccetera. Hai essenzialmente due modalità di azione: "influenzabile sempliciotto", in cui credi supinamente a qualunque cosa ti dicano, e "folla inferocita", in cui brandisci un forcone e parti al linciaggio di chiunque ti capiti a tiro.</p>
        <p>Il Contadino appartiene alla Fazione dei Popolani e non ha alcuna abilità.</p>
    </div>

    <div class="info-block">
        <h2>Divinatore</h2>
        <h3>Lettera iniziale</h3>
        <p>Hai sempre pensato di essere un tipo qualunque, il contadino medio pronto a linciare alla cieca senza farsi troppe domande. Ma da quando nel villaggio hanno cominciato a succedere fatti strani continui a sognare tuo nonno che invece dei numeri del lotto ripete le solite quattro frasi. Sei certo che due siano vere e due false. Ma quali?</p>
        <p>Il Divinatore è un mistico e appartiene alla Fazione dei Popolani. Ogni due notti, il Divinatore può scegliere un personaggio vivo
ed un ruolo, ed effettuare una divinazione su di lui. Scopre se il personaggio scelto ha tale ruolo.</p>
        <p>All'inizio della partita il Divinatore è a conoscenza di quattro proposizioni, di cui almeno una è vera e almeno una è falsa.</p>

        <p>Le quattro proposizioni sono le seguenti.
            <ul>
                <li>X ha il ruolo di Y.</li>
                <li>Z ha il ruolo di W.</li>
                <li>P ha il ruolo di Q.</li>
                <li>R ha il ruolo di S.</li>
            </ul>
        </p>

        <h3>Messaggi iniziali sull'interfaccia web (le quattro proposizioni coincidono con quelle sulla lettera)</h3>
        <p>In virtù del tuo ruolo di Divinatore ti vengono fornite le seguenti quattro proposizioni, di cui almeno una è vera e almeno una è falsa.
            <ul>
                <li>X ha il ruolo di Y.</li>
                <li>Z ha il ruolo di W.</li>
                <li>P ha il ruolo di Q.</li>
                <li>R ha il ruolo di S.</li>
            </ul>
        </p>
    </div>

    <div class="info-block">
        <h2>Esorcista</h2>
        <h3>Lettera iniziale</h3>
        <p>L'apparizione della tua torreggiante figura avvolta in una tonaca nera inquieta tutti i passanti, tranne quando sei coperto di vomito verde. Negli ultimi anni hai fatto un giro panoramico del Lato Oscuro, alleandoti con lupi mannari, streghe, diavoli e perfino avvocati. Questo però non autorizza dei negromanti emopiagnoni a invadere il tuo territorio. Armato di bibbia rinforzata in acciaio e pistola ad acqua santa, sei pronto ad affrontare le armate delle tenebre. C'è un nuovo esorcista in città.</p>
        <p>L'Esorcista è un mistico e appartiene alla Fazione dei Popolani. Ogni due notti, l'Esorcista può scegliere un personaggio, vivo o morto, e benedire la sua casa. Per quella notte, i poteri utilizzati su tale personaggio non hanno effetto. Le abilità funzionano invece normalmente.</p>
    </div>

    <div class="info-block">
        <h2>Espansivo</h2>
        <h3>Lettera iniziale</h3>
        <p>La tua voglia di amare gli altri è tanto potente che non puoi fare a meno di andare in giro ad abbracciare la gente. È ammirevole che tu non abbia ancora desistito, dopo aver cercato di abbracciare, nell'ordine, un lupo, un serial killer con l'ulcera e Barbieri.</p>
        <p>L'Espansivo appartiene alla Fazione dei Popolani. Ogni due notti, l'Espansivo può scegliere un personaggio vivo e andare a trovarlo. A questo personaggio viene rivelata l'identità dell'Espansivo.</p>
        <h3>Utilizzo potere (messaggio visualizzato dal personaggio scelto)</h3>
        <p>X ti rivela di essere l'Espansivo.</p>
    </div>

    <div class="info-block">
        <h2>Guardia del corpo</h2>
        <h3>Lettera iniziale</h3>
        <p>Provvisto di divisa nera, occhiali da sole a specchio, deltoidi quadruplici e cervello delle dimensioni di una nocciolina, non ti chiamano più gorilla da quando il povero primate, sentendosi offeso, ha protestato.</p>
        <p>La Guardia del corpo appartiene alla Fazione dei Popolani e ogni notte può scegliere un personaggio vivo per proteggerlo. Per quella notte, se tale personaggio sarà attaccato dai Lupi, non morirà. Inoltre, la Guardia del corpo scopre anche quanti altri personaggi hanno agito sul personaggio scelto (ma non quali).</p>

        <h3>Utilizzo potere</h3>
        <p>Scopri che stanotte nessun personaggio si è recato da X.</p>
        <p>Scopri che stanotte esattamente un altro personaggio si è recato da X.</p>
        <p>Scopri che stanotte esattamente <i>n</i> altri personaggi si sono recati da X.</p>
    </div>

    <div class="info-block">
        <h2>Investigatore</h2>
        <h3>Lettera iniziale</h3>
        <p>I bifolchi ti hanno fatto venire dalla grande città per indagare sulle morti misteriose. Porti un impermeabile marrone, un cappello a tesa larga e una barba di tre giorni. Fumi una sigaretta dopo l'altra e tieni la tua fiaschetta di whiskey sempre a portata di mano. Un vero duro. Peccato che tu ti sia preparato per la licenza di investigatore guardando la Signora in Giallo.</p>
        <p>L'Investigatore appartiene alla Fazione dei Popolani e ogni notte può scegliere un personaggio morto per indagare su di esso. Scopre il suo ruolo.</p>

        <h3>Utilizzo potere</h3>
        <p>Scopri che X ha il ruolo di Y.</p>
    </div>

    <div class="info-block">
        <h2>Mago</h2>
        <h3>Lettera iniziale</h3>
        <p>Hai imparato i tuoi incantesimi da un manuale di D&amp;D. L'ultima volta che hai provato a fare una magia vera ti sei dato fuoco e hanno dovuto spegnerti con gli idranti. In compenso riesci perfettamente a tirare fuori un coniglio dal cappello, indovinare la prima carta di un mazzo con 53 carte uguali e segare in due una donna (ma non riattaccarla).</p>
        <p>Il Mago è un mistico e appartiene alla Fazione dei Popolani. Ogni notte può scegliere un personaggio vivo o morto per percepirne l'aura magica. Scopre se il personaggio è mistico oppure no.</p>

        <h3>Utilizzo potere</h3>
        <p>Scopri che X è un mistico. / Scopri che X non è un mistico.</p>
    </div>

    <div class="info-block">
        <h2>Massone</h2>
        <h3>Lettera iniziale</h3>
        <p>Illuminato fratello, benvenuto nella loggia! Per guadagnarti l'accesso alla sala, tuttavia, dovrai mostrare l'anello segreto, fare l'occhiolino segreto, dare la stretta di mano segreta e, ehm, aiutarci a trovare la chiave. Se sei alto meno di 1 metro e 70 e il tuo cognome inizia per B, puoi saltare questa procedura.</p>
        <p>I Massoni appartengono alla Fazione dei Popolani e non hanno alcuna abilità. I Massoni si conoscono a vicenda.</p>
    </div>

    <div class="info-block">
        <h2>Messia</h2>
        <h3>Lettera iniziale</h3>
        <p>Sei l'Eccelso, il Predestinato, il Santissimo (se sei religioso), l'Eletto (se sei molto nerd), l'Unto del Signore (lasciamo perdere che è meglio). Di fronte a te la luce avanza, le tenebre arretrano e riesci a far risollevare dalle tombe più morti che il regista medio di film di zombie.</p>
        <p>Il Messia è un mistico e appartiene alla Fazione dei Popolani. Ha un'abilità attivabile di notte, una sola volta in tutta la partita. Il Messia può scegliere di resuscitare un personaggio morto che tornerà in vita il giorno seguente, riacquistando i suoi poteri speciali. Il suo potere non funziona sugli Spettri.</p>
    </div>

    <div class="info-block">
        <h2>Sciamano</h2>
        <h3>Lettera iniziale</h3>
        <p>Gli ultimi tagli alla ricerca scientifica hanno dato il colpo di grazia agli esperimenti dello scienziato pazzo per cui lavoravi (anche la folla armata di torce e forconi non ha aiutato). E così, dopo anni di fedele servizio, ti sei trovato disoccupato e in piena crisi mistica: la condizione ideale per prenderti un anno sabbatico in India, cambiare il tuo nome da Aigor a Brahamavarta e diplomarti in pratiche sciamaniche di primo livello. Tornato al villaggio, avverti subito forti vibrazioni negative dovute allo stagionale attacco di licantropia. Anche se nessuno si fida di te, cerchi comunque di aiutare qualche anima in pena.</p>
        <p>Lo Sciamano è un mistico e appartiene alla Fazione dei Popolani, ma a causa del suo passato da Profanatore di Tombe ha aura nera. Ogni due notti, lo Sciamano può scegliere un personaggio morto e tormentarne lo spirito. Spezza l'Incantesimo eventualmente presente su di esso. Se un Negromante tenta di lanciare un'Incantesimo sul personaggio scelto quella notte, la sua abilità non ha effetto.

        <h3>Messaggio visualizzato dallo Spettro a cui viene spezzato l'Incantesimo:</h3>
        <p>Percepisci l'effetto dell'Incantesimo attivo su di te svanire, e con esso il tuo potere.</p>
    </div>

    <div class="info-block">
        <h2>Stalker</h2>
        <h3>Lettera iniziale</h3>
        <p>Più appiccicoso della melassa, più insistente di una canzone degli One Direction, più fastidioso di una colonia di formiche rosse insediata nelle mutande. Una volta puntata una vittima la segui ovunque, e questo include anche il gabinetto, le atroci riunioni del club del libro e i ricevimenti del professor Beltram.</p>
        <p>Lo Stalker appartiene (stranamente) alla Fazione dei Popolani ed ha un potere attivabile ogni due giorni. Lo Stalker sceglie un personaggio vivo da pedinare e scopre se ha agito durante la notte e, nel caso, su chi; non scopre però cosa ha fatto.</p>

        <h3>Utilizzo potere</h3>
        <p>Scopri che stanotte X si è recato/a da Y. / Scopri che stanotte X non si è recato da nessuna parte.</p>
    </div>

    <div class="info-block">
        <h2>Trasformista</h2>
        <h3>Lettera iniziale</h3>
        <p>Anche il tuo numero di scarpe è un mistero. Nella vita hai cambiato più facce che cappelli e nemmeno tua madre potrebbe riconoscerti ormai, ammesso che tu ti ricordi chi è tua madre. Forse sei un agente segreto, un supereroe, o forse cerchi solo di rifarti una vita dove nessuno conosce i tuoi incresciosi trascorsi da necrofilo. La passione per i cimiteri però ti è rimasta e nel tempo libero ami passeggiare tra le tombe in cerca di una nuova identità.</p>

        <p>Il Trasformista appartiene alla Fazione dei Popolani, ma la sua vita nel mistero gli conferisce aura nera. Ha un potere attivabile di notte, una sola volta in tutta la partita. Il Trasformista può scegliere un personaggio morto. Se il personaggio scelto ha un ruolo appartenente alla fazione dei Popolani, il Trasformista lo scopre ed ottiene tale ruolo; altrimenti, il potere del Trasformista non ha effetto.</p>
        <h3>Utilizzo potere</h3>
        <p>Dopo aver utilizzato il tuo potere su X hai assunto il ruolo di Y.</p>
    </div>

    <div class="info-block">
        <h2>Veggente</h2>
        <h3>Lettera iniziale</h3>
        <p>Il tuo potere soprannaturale ti permette di sapere chi è buono, chi è malvagio e chi non si è cambiato le mutande. Hai fatto i soldi evadendo regolarmente le tasse, dando i numeri fortunati su un 899 e facendo l'oroscopo alle massaie su TeleAntenna8. Proprio quando stavi per scappare in Polinesia, ecco che iniziano i morti squartati, gli spettri, i roghi e i linciaggi. Questo non l'avevi proprio previsto.</p>
        <p>Il Veggente è un mistico e appartiene alla Fazione dei Popolani. Ogni notte può scegliere un personaggio vivo da scrutare nella sua sfera di cristallo (ok, nella sua sfera di plastica sbrilluccicosa). Scopre il colore della sua aura.</p>

        <h3>Utilizzo potere</h3>
        <p>Scopri che X ha aura Y.</p>
    </div>

    <div class="info-block">
        <h2>Voyeur</h2>
        <h3>Lettera iniziale</h3>
        <p>Nascosto nel tuo cespuglio di fiducia con un binocolo dotato di sensori a infrarossi, ti diverti a spiare tutte le attività della notte: coppiette che copulano, riti satanici, lupi mannari che straziano orrendamente i corpi delle loro vittime, e ogni tanto un ubriaco che arriva barcollando e piscia nel tuo cespuglio.</p>
        <p>Il Voyeur appartiene alla Fazione dei Popolani ed ha un potere attivabile ogni due notti. Il Voyeur può scegliere un personaggio vivo e spiare la sua casa. Scopre quali altri personaggi durante la notte hanno agito sul personaggio scelto, ma non cosa hanno fatto.</p>

        <h3>Utilizzo potere</h3>
        <p>Scopri che stanotte X si è recato/a da Y. / Scopri che stanotte nessun personaggio si è recato da Y.</p>
    </div>

    <div class="info-block">
        <h2>Lupo</h2>
        <h3>Lettera iniziale</h3>
        <p>Di giorno solo le folte basette, le profonde occhiaie e la tendenza a grattarti col piede dietro l'orecchio tradiscono quello che diventi di notte: un terribile lupo mannaro! Sei una bestia assetata di sangue, nata per uccidere, e il tuo unico cruccio è che qualche volta i contadini armati di forconi ci azzeccano.</p>
        <p>I Lupi sono cattivi, brutti, hanno l'alito pesante e appartengono alla Fazione dei Lupi (ma dai). Ogni notte i Lupi possono scegliere un personaggio vivo da uccidere. Se tutti i Lupi che decidono di usare il proprio potere scelgono lo stesso personaggio, questi muore. Se almeno due Lupi indicano personaggi diversi, il loro potere non ha alcun effetto.</p>
    </div>

    <div class="info-block">
        <h2>Assassino</h2>
        <h3>Lettera iniziale</h3>
        <p>John Kennedy, Paolo Borsellino e Kenny di South Park sono solo alcuni degli omicidi con cui non hai assolutamente niente a che fare, ma a cui ti ispiri per diventare famoso. Hai deciso di appendere il fucile al chiodo e ritirarti in campagna, ma la recente striscia di omicidi ti ha spinto a riprendere il tuo vecchio hobby.</p>
        <p>A causa della sua passione per gli omicidi, l'Assassino appartiene alla Fazione dei Lupi. Ogni due notti dopo la prima, l'Assassino può scegliere un personaggio vivo e puntare il suo fucile di precisione verso casa sua. Uccide uno degli altri personaggi che hanno usato il proprio potere sul personaggio scelto dall'Assassino, selezionato in modo casuale.</p>
    </div>

    <div class="info-block">
        <h2>Diavolo</h2>
        <h3>Lettera iniziale</h3>
        <p>Tu sei l'Angelo Caduto, la Bestia, il Maligno! Il tuo numero fortunato è 666. Sei dotato di molteplici teste cornute e di tanto in tanto ti trasformi in drago, serpente, donna nuda o cantante rock. I tuoi unici problemi sono che la tua farina è andata di nuovo tutta in crusca e hai a casa un intero stock di pentole senza coperchi, che non sai come piazzare; per fortuna ne sai una più del diavolo, e questo significa che ne sai davvero tante.</p>
        <p>Il Diavolo appartiene alla Fazione dei Lupi. Ogni notte, il Diavolo può scegliere un personaggio vivo e un sottoinsieme dei ruoli, e scrutare fra le fiamme. Scopre se il ruolo del personaggio scelto appartiene a tale sottoinsieme.</p>

        <h3>Utilizzo potere</h3>
        <p>Scopri che X (non) ha il ruolo tra i seguenti: A, B, C, D.</p>
    </div>

    <div class="info-block">
        <h2>Fattucchiera</h2>
        <h3>Lettera iniziale</h3>
        <p>Passi il sabato sera insieme alle tue colleghe, a far ribollire lingue di varano, peli di pipistrello e pollici di marinaio per scatenare letali epidemie di singhiozzo nel villaggio. Sei una crudele creatura del Maligno, ma la tua credibilità è sminuita dal fatto di chiamarti fata Zurlina. E il fatto che la gente scoppi a ridere al sentire il tuo nome, non fa che aumentare il tuo desiderio di trasformarli tutti in rospi...</p>
        <p>La Fattucchiera è un mistico e appartiene alla Fazione dei Lupi; la sua magia le conferisce aura bianca. Ogni notte la Fattucchiera può indicare un personaggio, vivo o morto, e un ruolo. Per quella notte il ruolo, l'aura e la misticità di tale personaggio appariranno come se quest'ultimo avesse il ruolo scelto.</p>
    </div>

    <div class="info-block">
        <h2>Alcolista</h2>
        <h3>Lettera iniziale</h3>
        <p>Scrivere una descrizione.</p>
        <p>L'Alcolista appartiene alla Fazione dei Lupi, ma a causa del suo fascino irresistibile (?) la sua aura è bianca. Ogni notte, può scegliere un personaggio, vivo o morto, e andare a visitarlo. Tuttavia, a causa dei fumi dell'alcol, il suo potere non ha effetto.</p>
    </div>

    <div class="info-block">
        <h2>Sequestratore</h2>
        <h3>Lettera iniziale</h3>
        <p>Sei abitualmente domiciliato in una grotta nei pressi di Sussubbiarrutarruggiu (Sardegna), da dove riemergi per rapire facoltosi turisti in cerca di un cospicuo riscatto. Ma poi li rilasci in cambio di un biglietto del Lotto che ti è stato assicurato essere vincente, il che dimostra quanto vivere in una grotta non giovi alla salute mentale della gente.</p>
        <p>Il Sequestratore appartiene alla Fazione dei Lupi. Ogni notte, il Sequestratore può scegliere un personaggio vivo e rapirlo. Per quella notte, se il personaggio scelto utilizza la propria abilità, tale abilità non ha effetto. Il Sequestratore scopre se tale personaggio stava generando un movimento (ma non scopre dove era diretto), ed il tal caso cancella il movimento generato.</p>
    </div>

    <div class="info-block">
        <h2>Stregone</h2>
        <h3>Lettera iniziale</h3>
        <p>La tua passione per l'occulto, il tuo odio verso i bifolchi del villaggio, e la tua cotta per la fata Zurlina ti hanno spinto ad imparare la magia nera e diventare uno Stregone. Passi il tuo tempo a farti beffe dei contadini ignoranti con la tua magia, sperando così di fare colpo sulla tua bella.</p>
        <p>Lo Stregone appartiene alla Fazione dei Lupi e conosce le Fattucchiere, i Diavoli e gli eventuali altri Stregoni. Ogni notte, lo Stregone può scegliere un personaggio vivo e lanciare un incantesimo sulla sua casa. Per quella notte, se un qualsiasi altro personaggio vivo usa un'abilità sul personaggio scelto dallo Stregone, questa non ha effetto.</p>
    </div>

    <div class="info-block">
        <h2>Negromante</h2>
        <h3>Lettera iniziale</h3>
        <p>Candele nere, pennarello indelebile rosso per disegnare pentagrammi, un chilo e mezzo di gioielleria etnica: sei pronto a risvegliare i morti! Adesso devi solo creare l'evento su Facebook e invitare tutti i tuoi amici occultisti al cimitero per una seduta spiritica con finale a sorpresa. Certo, i bigotti del villaggio e quegli zoticoni dei lupi non capiranno la tua particolare spiritualità, ma potrai sempre evocare nuovi spettri per dare una spinta alla tua vita sociale.</p>
        <p>I Negromanti appartengono alla Fazione dei Negromanti (pensa un po') e hanno aura bianca. È complicato...</p>
        <p>Ogni notte, ciascun Negromante può scegliere uno Spettro ed effettuare un Incantesimo (non già attivo) su di esso. Un eventuale Incantesimo precedentemente attivo su tale Spettro viene disattivato, e viene rimpiazzato dall’Incantesimo selezionato. Un Negromante può anche disattivare un Incantesimo attivo su tale Spettro senza attivarne uno nuovo. </p>
        <p>Quando un Negromante muore, ottiene un potere. Una sola volta durante l’arco della partita, un Negromante morto può scegliere un altro personaggio morto e selezionare un Incantesimo (non già attivo). Tale personaggio diventa uno Spettro e l’Incantesimo selezionato viene attivato su di esso. Ciascun Incantesimo può essere attivo su al più uno Spettro alla volta.</p>
    </div>

    <div class="info-block">
        <h2>Fantasma</h2>
        <h3>Lettera iniziale</h3>
        <p>Anche se cammini ancora in questa valle di lacrime, ti senti molto portato per l'aldilà. Ti piace passeggiare tra cimiteri abbandonati, chiese sconsacrate e antiche rovine, ululando lugubremente nel vento. Se trovi delle catene, non puoi fare a meno di scuoterle. Non vedi l'ora di tirare le cuoia per far vedere a contadini e lupi mannari di cosa sei capace.</p>
        <p>Il Fantasma appartiene alla Fazione dei Negromanti e ha aura nera. Il Fantasma non ha alcuna abilità. Se il Fantasma muore, diventa immediatamente uno Spettro. Inoltre, se vi sono degli Incantesimi non attivi, uno di essi, selezionato in modo casuale, viene attivato sul Fantasma.</p>

        <h3>Messaggio ricevuto alla morte</h3>
        <p>La sopraggiunta morte ti dà un senso di beatitudine. Sei diventato/a uno Spettro con l'Incantesimo X/senza alcun Incantesimo attivo.</p>
    </div>

    <div class="info-block">
        <h2>Spettro</h2>
        <h3>Messaggio ricevuto al momento del risveglio come Spettro</h3>
        <p>Credevi che i giochi fossero fatti? Pensavi che la morte fosse un evento definitivo? Certo che no! Come nelle migliori soap opera, non c'è pace neanche dopo la sepoltura. Sei stato/a risvegliato/a come Spettro con l'Incantesimo X.</p>

        <h3>Messaggio ricevuto quando un Negromante cambia/disattiva l'Incantesimo</h3>
        <p>Percepisci che qualcosa è cambiato intorno a te. Sei ora uno Spettro con l'Incantesimo X/senza alcun Incantesimo attivo.</p>

        <h3>Messaggio ricevuto quando un altro effetto disattiva l'Incantesimo</h3>
        <p>Percepisci l'effetto dell'Incantesimo attivo su di te svanire, e con esso il tuo potere.</p>

        <h3>Utilizzo del potere conferito da Telepatia</h3>
        <p>Leggendo nella sua mente, percepisci che X ha ottenuto le seguenti informazioni:</p>
        <p>(Segue lista dei messaggi)</p>
    </div>

</main>
{% endblock %}
