{% extends "base.html" %}

{% block content %}

<main id="content" class="grid_13">
    <h1>Inizializza partita</h1>
    
    <div class="info-block">
        <p>
        <form action="{% url 'game:settings' game_name=game.name %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p><input type="submit" value="Conferma" /></p>
        </form>
        </p>
        
        {% if message != None %}
            <p><strong>{{ message }}</strong></p>
        {% endif %}
        
    </div>
</main>
{% endblock %}

