{% extends "base.html" %}

{% block content %}

<main id="content" class="grid-80">
    <h1>Impostazioni di gioco</h1>
    
    <div class="info-block">
        <div class="separator">
            <h2>Impostazioni di gioco</h2>
        </div>
        <form action="{% url 'game:settings' game_name=game.name %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p><input type="submit" value="Salva" /></p>
        </form>
        
        {% if message != None %}
            <p><strong>{{ message }}</strong></p>
        {% endif %}
    </div>

</main>
{% endblock %}

