{% extends "base.html" %}

{% block content %}

<main id="content">
    <h1>Successione Spettrale</h1>

    <div class="info-block">
        Scegli quali morti della fazione dei Popolani diventeranno Spettri.

        <form method="post" action="">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Conferma">
        </form>
        </ul>

        {% if message != None %}
            <p><strong>{{ message }}</strong></p>
        {% endif %}

    </div>
</main>
{% endblock %}
