<h1>Stato del villaggio</h1>

<p>
    {% if current_turn.phase == DAWN %}
        Una {{ weather.adjective }}a alba sta sorgendo sul villaggio.
    {% endif %}
    
    {% if current_turn.phase == SUNSET %}
        Un {{ weather.adjective }}o tramonto sta calando sul villaggio.
    {% endif %}
    
    {% if current_turn.phase == DAY %}
        {% if weather.type == "clear" %}
            I cortili e le strade fremono di attività sotto il cielo terso e azzurro.
            Qua e là, gruppetti di persone parlottano furtivamente di quanto è accaduto nelle ultime notti.
        {% endif %}
        {% if weather.type == "cloudy" %}
            Sotto un cielo nuvoloso e grigio, le persone si affaccendano operose tra le strette stradicciole.
            Qualcuno si ferma a guardare la bacheca del villaggio, o a discutere brevemente degli avvenimenti più recenti, prima di tornare alla propria occupazione.
        {% endif %}
        {% if weather.type == "light rain" %}
            Una leggera pioggerellina cade tra le case e sui tetti.
            Alcuni si aggirano per le strade avvolti nei propri mantelli, per chissà quali loschi affari, ma i più preferiscono rimanere all'asciutto nelle proprie dimore.
        {% endif %}
        {% if weather.type == "heavy rain" %}
            Non c'è anima viva che si avventuri sotto la fitta pioggia che si abbatte sulle strade.
            Quelli che non sono al riparo delle proprie case si sono radunati nella locanda del villaggio, a bere e a discorrere delle ultime novità.
        {% endif %}
    {% endif %}
    
    {% if current_turn.phase == NIGHT %}
        {% if weather.type == "clear" %}
            Le stelle brillano nel sereno cielo notturno e la luna illumina le silenziose strade principali.
            Attraverso l'oscurità dei vicoli più stretti, si possono di tanto in tanto percepire dei cauti movimenti.
            Forse non tutti stanno dormendo, stanotte.
        {% endif %}
        {% if weather.type == "cloudy" %}
            La notte è resa più buia da fitte nubi che celano il chiarore della luna.
            Alcuni ne approfittano portando avanti le proprie attività notturne; altri, invece, cercano di prendere sonno sperando di risvegliarsi di nuovo l'indomani.
        {% endif %}
    {% endif %}
</p>

{% if game %}
    <p>Il Sindaco del villaggio è {{ game.mayor.full_name }}.</p>
{% endif %}

