<h1>Stato del villaggio</h1>

<div class="info-block">

<div class="separator"><div class="separator"><h2>{{ current_turn.turn_as_italian_string_property }}</h2></div></div>

<p>
    {% if current_turn.phase == DAWN %}
        Un'alba {{ weather.adjective }}a sta sorgendo sul villaggio.
    {% endif %}
    
    {% if current_turn.phase == SUNSET %}
        Un {{ weather.adjective }}o tramonto sta calando sul villaggio.
    {% endif %}
    
    {% if current_turn.phase == DAY %}
        {% if weather.type == "clear" %}
            I cortili e le strade fremono di attività sotto il cielo terso e azzurro.
            Qua e là, gruppetti di persone parlottano furtivamente di quanto è accaduto nelle ultime notti.
        {% endif %}
        {% if weather.type == "cloudy" %}
            Sotto un cielo nuvoloso e grigio, le persone si affaccendano operose tra le strette stradicciole.
            Qualcuno si ferma a guardare la bacheca del villaggio, o a discutere brevemente degli avvenimenti più recenti, prima di tornare alla propria occupazione.
        {% endif %}
        {% if weather.type == "light rain" %}
            Una leggera pioggerellina cade tra le case e sui tetti.
            Alcuni si aggirano per le strade avvolti nei propri mantelli, per chissà quali loschi affari, ma i più preferiscono rimanere all'asciutto nelle proprie dimore.
        {% endif %}
        {% if weather.type == "heavy rain" %}
            Non c'è anima viva che si avventuri sotto la fitta pioggia che si abbatte sulle strade.
            Quelli che non sono al riparo delle proprie case si sono radunati nella locanda del villaggio, a bere e a discorrere delle ultime novità.
        {% endif %}
    {% endif %}
    
    {% if current_turn.phase == NIGHT %}
        {% if weather.type == "clear" %}
            Le stelle brillano nel sereno cielo notturno e la luna illumina le strade silenziose.
            Attraverso l'oscurità dei vicoli più angusti, si possono di tanto in tanto percepire dei cauti movimenti.
            Forse non tutti stanno dormendo, stanotte.
        {% endif %}
        {% if weather.type == "cloudy" %}
            La notte è resa più buia da fitte nubi che celano il chiarore della luna.
            Alcuni ne approfittano portando avanti le proprie losche attività; altri, invece, cercano di prendere sonno nella speranza di risvegliarsi di nuovo.
        {% endif %}
        {% if weather.type == "light rain" %}
            Una piogga leggera rompe delicatamente il silenzio della notte.
            Ogni tanto si possono a malapena percepire anche dei passi frettolosi, ai quali l'oscurità impedisce di attribuire un nome.
        {% endif %}
        {% if weather.type == "heavy rain" %}
            Il rumore della pioggia battente copre quasi qualsiasi altro suono.
            Ma, attraverso l'oscurità impenetrabile, si possono talvolta distinguere degli ululati.
        {% endif %}
    {% endif %}
</p>

{% if display_mayor %}
    {% if game.mayor != None %}
        <p>Il Sindaco del villaggio è {{ game.mayor.full_name }}.</p>
    {% else %}
        <p>Nessuno è il Sindaco del villaggio. Non che serva un Sindaco, dato che tutti gli abitanti sono morti...
    {% endif %}
{% endif %}

</div>
