{% extends "base.html" %}

{% block content %}

<main id="content">

    <h1>Trailer</h1>

    <div class="info-block trailer">
        <div class="separator"><h2>Trailer VI edizione</h2></div>
        <div class="embed-wrapper">
        <iframe width="100%" src="https://www.youtube.com/embed/S-6LAaEpA9g" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="info-block trailer">
        <div class="separator"><h2>Trailer V edizione</h2></div>
        <div class="embed-wrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/R-tqHtebti4" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="info-block trailer">
        <div class="separator"><h2>Trailer IV edizione</h2></div>
        <div class="embed-wrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/7JuWllo0pUA?rel=0" frameborder="0" allowfullscreen></iframe></p>
        </div>
    </div>
</main>
{% endblock %}
