{% if dictionary %}
{% load game_extras %}
<table>
    <thead>
    <tr>
        <td class="name-container">Nome</td>
        <td class="vote-container">Voti</td>
        <td>Votanti</td>
    </tr>
    </thead>
    <tbody>
    {% for voted, info in dictionary.items %}
        <tr>
            <td>{{ voted.full_name }}</td>
            <td>{{ info.votes }}</td>
            <td>{{ info.voters|join_by_attr:"full_name" }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p><i>Non è stato espresso alcun voto.</i></p>
{% endif %}
