{% if dictionary %}
{% load game_extras %}
<table>
    <thead>
    <tr>
        <td class="name-container">Nome</td>
        <td class="vote-container">Voti</td>
        {% if display_votes %}
            <td>Votanti</td>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for voted, info in dictionary.items|order_by_name:0 %}
        <tr>
            <td>{{ voted.full_name }}</td>
            <td>{{ info.votes }}</td>
            {% if display_votes %}
                <td>{{ info.voters|order_by_name|join_by_attr:"full_name" }}</td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p><i>Non è stato espresso alcun voto.</i></p>
{% endif %}
